extends ../layouts/layout.pug
block content

    h1 User List
    a.btn.btn-primary(href="/users/create") New user
    form(method="get" action="/users/search")
        input(type="text", name ="q")
        button Search
    table.table
        tr
            th Name
            th Phone
            th Actions

        each user in users
            tr
                td= user.name
                td= user.phone
                td 
                    a(href="/users/"+user.id) View